<div class="d-flex justify-content-between align-items-center" 
     style="margin-top: 20px; margin-left: 36px; width: 1280px;">
    <div class="d-flex flex-column align-items-start" >
        <span class="fw-semibold text-header">Hello, Lekan</span>
        <span class="fw-normal text-desciption">Have a nice day</span>
    </div>

    <div class="d-flex align-items-end align-items-center" style="gap: 18px;">
        <div class="d-flex align-items-center justify-content-center" style="width: 18px; height: 18px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
            </svg>
        </div>
        <div style="height: 36px; width: 1.5px; background-color: #c2c2c2; opacity: 0.3;"></div>
        <div class="d-flex" style="gap: 16px; margin-right: 20px;">
            <div class="user-profile"></div>
            <div class="d-flex align-items-center" style="gap: 2px;">
                <div class="d-flex flex-column">
                    <span class="fw-semibold user-name">Lekan Okeowo</span>
                    <span class="fw-normal user-role">Admin</span>
                </div>
                <div class="arrow-custom">
                    <img src="arrow-down.png" alt="" style="width: 15px; height: 3;">
                </div>
            </div>
        </div>
    </div>
</div>
