<div style="margin-top: 16px; margin-left: 24px; margin-right: 10px;">
  <!-- Header -->
  <div class="mb-1" style="margin-left: 12px;">
    <h5 class="fw-bold" style="font-size: 20px; color: #4a85f6;">Users Dashboard</h5>
  </div>

  <!-- Top bar -->
  <div class="d-flex align-items-center">
    <!-- Search -->
    <!-- Input group สำหรับ search icon -->
    <div class="input-group me-2" style="height: 38px; width: 900px;">
      <span class="input-group-text bg-white border-0">
        <!-- ไอคอน Search -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <circle cx="11" cy="11" r="8" />
          <line x1="21" y1="21" x2="16.65" y2="16.65" />
        </svg>
      </span>
      <input
        class="form-control border-0"
        type="search"
        placeholder="Search"
        aria-label="Search"
        style="font-size: 16px; font-weight: 400"
        [(ngModel)]="search"
        (keyup.enter)="onSearch()"
      />
    </div>

    <!-- Add user -->
    <button class="btn d-flex align-items-center justify-content-center gap-2" (click)="openAddUser()"
      style="border-radius: 6px; height: 40px; width: 110px; background-color: #4a85f6; margin-right: 30px; margin-left: 20px;">
      <span class="fw-semibold" style="color: white; font-size: 13px;">Add user</span>
      <span style="color: white; font-size: 16px;">+</span>
    </button>

    <!-- Sort by -->
    <div class="dropdown d-flex align-items-center gap-2">
      <button class="btn p-0 d-flex align-items-center" type="button" data-bs-toggle="dropdown">
        <span class="fw-semibold" style="color: #404040; font-size: 13px; margin-right: 5px;">Sort by</span>
        <img src="arrow-down.png" alt="caret down" style="width: 10px; height: 10px;">
      </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="onSort('userId', 'asc')">User Id (a-z)</a></li>
          <li><a class="dropdown-item" (click)="onSort('userId', 'desc')">User Id (z-a)</a></li>
          <li><a class="dropdown-item" (click)="onSort('firstName', 'asc')">Firstname (a-z)</a></li>
          <li><a class="dropdown-item" (click)="onSort('firstName', 'desc')">Firstname (z-a)</a></li>
          <li><a class="dropdown-item" (click)="onSort('lastName', 'asc')">Lastname (A-Z)</a></li>
          <li><a class="dropdown-item" (click)="onSort('lastName', 'desc')">Lastname (Z-A)</a></li>
          <li><a class="dropdown-item" (click)="onSort('email', 'asc')">Email (A-Z)</a></li>
          <li><a class="dropdown-item" (click)="onSort('email', 'desc')">Email (Z-A)</a></li>
        </ul>

            <!-- Saved search -->
        <div class="dropdown" style="margin-left: 10px;">
          <button class="btn p-0 d-flex align-items-center" type="button" data-bs-toggle="dropdown">
            <span class="fw-semibold" style="color: #404040; font-size: 13px; margin-right: 5px;">Sort by</span>
            <img src="arrow-down.png" alt="caret down" style="width: 10px; height: 10px;">
          </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">Dropdown 1</a></li>
              <li><a class="dropdown-item">Dropdown 2</a></li>
            </ul>
        </div>

        <!-- Filter -->
      <button class="btn p-1 ms-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
          class="bi bi-sliders" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
        </svg>
      </button>
    </div>
  </div>
  <!-- Add user modal -->
  <app-add-user *ngIf="isAddUserVisible" (close)="closeAddUser()"></app-add-user>
</div>


<!-- List users -->
<app-list-users
  [users]="users"
  (edit)="onEditUser($event)"
  (delete)="onDeleteUser($event)"
></app-list-users>

<!-- Paging -->
<app-page
  [totalItems]="totalCount"
  [currentPage]="pageNumber"
  [itemsPerPage]="pageSize"
  [itemsPerPageOptions]="itemsPerPageOptions"
  (pageChanged)="onPageChange($event)"
  (itemsPerPageChanged)="onItemsPerPageChange($event)"
></app-page>


